:root {
    --red: #dc3545;
    --info: #feafaf;
    --title: #a46b2a;
    --background: #fe8282;
    --button:#5f3724;
    --white: #f6f5f4;
    --gray: #878787;
    --soft-gray: #ebebeb;
    --gray-dark: #303030;
    --danger: #dc3545;
    --dark: #181a1b;
    --soft-dark:#1c1f20;
    --transparent: transparent;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-dancing: 'Dancing Script', cursive;
  }

     /* *//* *//* *//* *//* *//*  GLOBAL STYLE *//* *//* *//* *//* *//* *//* */


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  * {
		padding: 0;
		margin: 0;
	}
	svg {
		position: absolute;
    z-index: -1;
		top: 0;
		left: 0;
    width: 100%;
    height: 100%;
		box-sizing: border-box;
		display: block;
	}
  
  body {
    position: relative;
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    border: none;
    padding-top: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  main, footer{
    position: relative;
    z-index: 3;
  }

  .global-div{
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }


  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

/* *//* *//* *//* *//* *//*  NABVAR *//* *//* *//* *//* *//* *//* */

  .nav{
    position: fixed;
    width: 100%;
    max-height: 150px;
    height: 100px;
    background-color: var(--soft-dark);
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 50;
  }
  
  .menu-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 10px;
    line-height: 0.9;
    z-index: 2;
  }
  
    .menu-nav span{
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }
  
      span img{
        width:  60px;
        height: 60px;
      }
  
      .menu-nav span:hover, .menu-nav span img:hover{
        transform: scale(1.1);
        transition: ease-in-out 0.3s;
      }
  
    .menu-nav h3{
      color: var(--gray);
      font-size: 0.75rem;
    }
  
    .menu-nav h2{
      color: var(--white);
  
    }


    @media (max-width: 600px) {
      
      .nav{
        position: relative;
        justify-content: center;
      }
      
      
      .menu-nav{
        padding-left: 0;
        justify-content: center;
        gap: 20px;
        border-radius: 15% 15% 0% 0% / 30% 30% 0% 0%  ;
      }

      }