html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* El documento ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column; /* Organiza el contenido en columnas */
}

.logo {
  height: 250px;
  width: 250px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
  
#buttonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 3rem;
}

#firstImageButton {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#firstImageButton:hover {
  background-color: var(--gray-dark);
  color: var(--white);
  transform: scale(1.05);
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238)blueviolet;
  border-right: 2px solid blueviolet;
  box-shadow:
    rgba(240, 46, 170, 0.4) 0px 5px,
    rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px;
}

#firstImageButton:active {
  opacity: 0.8;
  background-color: var(--dark);
  color: var(--soft-gray);
  transform: translateY(10px);
  transition: 100ms;
}

#optionContainer{
  justify-content: center;
  top: 100px;
  position: fixed; 
  width: 100%; 
  z-index: 1000; 
  background: var(--soft-dark);
  border-top:  1px var(--gray);
}

  #addImageButton{
    background-color: var(--gray-dark);
    border-style: none;
    padding: 5px;
    margin: 0.25rem;
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
  }

  #addImageButton:hover{
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
  }

#imagePreview {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
    background: var(--gray-dark);
    width: 100%;
    align-items: center;
    justify-content: center;
  }

.image-wrapper canvas {
  margin: 1rem;
  border: 1px solid #ccc; 
}


.image-wrapper {
  width: 100%; 
  margin-bottom: 20px; 
  text-align: center; 
}

  
  #controls{
   
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    padding: 1rem 0;
    gap: 0.75rem;
  }

  .controls-container{
    display: flex;
    flex-direction: row;
  }
  
  .controlsSection1, .controlSection2{
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
  }

  .controlsSection1{
    flex-direction: column;
  }

  .controlSection2{
    flex-direction: row;
    gap: 10px;
  }

  .controlSection3{
   display: flex;
   flex-direction: row; 
   gap: 30px;
  }
  
  #cropButton, #downloadButton, #groupButton{
    background-color: var(--transparent);
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    border-radius: 24px;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #cropButton:hover, #downloadButton:hover, #groupButton:hover{
    transition: all 0.5s ease;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }

  #cropButton:active, #downloadButton:active, #groupButton:active{
    opacity: 0.8;
    color: var(--soft-gray);
    transform: translateY(5px);
    transition: 100ms;
  }
  
  #heightCrop, #widthCrop{
    border: solid 2px var(--dark);
    background-color: var(--dark);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-align: center;
    margin: 1rem;
    border-radius: 16px;
    padding: 5px;
    
  }

  .image-wrapper canvas {
    width: 100px; /* Visualización ajustada */
    height: 100px;
    object-fit: cover; /* Escala proporcional */
    border: 1px solid #ccc; /* Opcional: bordes para que se vea más claro */
}


@media (max-width: 600px) {

  #buttonContainer h1{
    font-size: 1.25rem;
  }

  .controlSection2{
    display: none;
  }

  #cropButton, #downloadButton{
    padding: 15px 22px;
    font-size: 10px;
    margin: 0.5rem;
  }


  
  }